<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cucumber</td><td>TestRunner.feature(org.testng.ITestContext)[pri:0, instance:Runner.TestRunner@71ba6d4e]<br/></td></tr>
</table>
