<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dcb865">  <td>18/06/17 10:35:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(org.testng.ITestContext)[pri:0, instance:Runner.TestRunner@71ba6d4e]">feature</td> 
  <td>main@903525611</td>   <td></td> </tr>
<tr bgcolor="dcb865">  <td>18/06/17 10:35:56</td>   <td>-356</td> <td>&nbsp;</td><td title="&gt;&gt;TestRunner.setUp()[pri:0, instance:Runner.TestRunner@71ba6d4e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@903525611</td>   <td></td> </tr>
<tr bgcolor="dcb865">  <td>18/06/17 10:35:57</td>   <td>231</td> <td>&nbsp;</td><td title="&lt;&lt;TestRunner.tearDown()[pri:0, instance:Runner.TestRunner@71ba6d4e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@903525611</td>   <td></td> </tr>
</table>
