<h2>Reporter output</h2><table><tr><td><div "result">Volare Collector Home Page opens in browser (PASSED : 0s)</div></td></tr>
<tr><td><div "result">I login to Volare Collector with Username and Password (PASSED : 0s)</div></td></tr>
<tr><td><div "result">Page navigate to Volare Collector Home Page (PASSED : 0s)</div></td></tr>
<tr><td><div "result">A user has login to Volare Collector (FAILED : 0s)</div></td></tr>
<tr><td><div "result">Click logout button (SKIPPED)</div></td></tr>
<tr><td><div "result">Logout from Volare Collector and redirect to login page (SKIPPED)</div></td></tr>
</table>